<form [formGroup]="employeeForm" class="form-horizontal">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <div>
                    <input type="text" id="fullName" formControlName="fullName" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div>
                    <input type="text" id="email" formControlName="email">
                </div>
            </div>
            <div>
                <button (click)="onSave()">Submit</button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="onClear()">Clear</button>
            </div>
        </div>
    </div>
    <br><br>
    <div *ngIf="isShow">
        <div class="row" style="border:1px solid black">
            <div class="col-md-3">
                Rakesh Tiwari
            </div>
            <div class="col-md-3">
                Rakesh@gmail.com
            </div>
        </div>
        {{employeeForm.value | json}}
    </div>
</form>


<div class="row">
    <div class="col-md-2">
        <label for="">First Name</label>
        <input type="text" placeholder="First name" id="txtName">
    </div>
    <div class="col-md-2">
        <label for="">Last Name</label>
        <input type="text" placeholder="Last name">
    </div>
    <div class="col-md-2">
        <div>
            <label for="">Gender</label>
        </div>
        Male <input type="radio" name="gender">
        Female<input type="radio" name="gender">
        Trangender<input type="radio" name="gender">
    </div>
    <div class="col-md-2">
        <div>
            <label for="">Qualification</label>
        </div>
        10th <input type="checkbox">
        12th<input type="checkbox">
        Bsc<input type="checkbox">
    </div>
    <div class="col-md-2">
        <div>
            <label for="">State</label>
        </div>
        <select>
            <option value="">Select State</option>
            <option value="">Odisha</option>
            <option value="">Maharashtra</option>
            <option value="">Jharkhand</option>
            <option value="">Chatisgadh</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="">Date of birth</label>
        <input type="date">
    </div>
</div>