<form [formGroup]="employeeForm" class="form-horizontal">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <div>
                    <input type="text" id="fullName" formControlName="fullName" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div>
                    <input type="text" id="email" formControlName="email">
                </div>
            </div>
            <div>
                <button (click)="onSave()">Submit</button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="onClear()">Clear</button>
            </div>
        </div>
    </div>
    <br><br>
    <div *ngIf="isShow">
        <div class="row" style="border:1px solid black">
            <div class="col-md-3">
                Rakesh Tiwari
            </div>
            <div class="col-md-3">
                Rakesh@gmail.com
            </div>
        </div>
        {{employeeForm.value | json}}
    </div>
</form>